@CHARSET "UTF-8";
*{font-family: "微软雅黑";font-size:14px;}
ul{list-style: none;padding: 0;margin: 0;}
a{text-decoration: none;color: #03a9f4;}
a i {font-style: inherit;}
body{
background: #318bd4;
}
.div-form{
 width: 400px;
    height: 320px;
    background: #fffdfd;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -300px;
    padding: 10px 20px;
}
.title{
 text-align: center;
}
.diliver{
border:0px;
   border-bottom:1px solid #d4d2d2;
}
input{
width: 100%;
    border: 1px solid #a9a4a4;
    height: 30px;
    border-radius: 3px;
    padding-left: 5px;
    /* padding: 2px 5px; */
    box-sizing: border-box;
}
input:focus{
 width: 100%;
    border: 1px solid #55b2fd;
    height: 30px;
    border-radius: 3px;
    padding-left: 5px;
    /* padding: 2px 5px; */
    box-sizing: border-box;
}
.form-lable{
margin-bottom:5px;
}
.form-group{
margin-top:15px;
}
.form-btn{
margin-top:30px;
}
.btn-primary{
background:#00d1b2
}
.error{
margin:0px;
   padding:0px;
   text-align:right;
   font-size:12px;
   color:red;
}