@CHARSET "UTF-8";
.form-group{overflow:hidden;margin-bottom:10px;}
.form-lable{float:left;}
.form-lable label{font-size: 14px;font-weight: 600;}
.form-input{float:left;}
.form-input p {-webkit-margin-before: 0; -webkit-margin-after: 0;}
.form-input input[type=text]{margin-bottom:10px;width:500px}

a{color: #03a9f4;}
a i {font-style: inherit;}
.delete-btn{display:inline-block;padding:3px 8px;color: #b5acad;}
.form-subject .form-lable{height:60px;line-height:60px}
.form-subject .form-input textarea{height:60px;width:500px;padding:1px}
