.content em {
    font-weight: bold;
}

.section .position,.section .position a{
	font-size:16px;
	font-family:"微软雅黑";
	color:#D34231;
}
.section .position{
	margin-left:30px;
}
.section .inst li,section .inst ul li p,section .inst ul li .bdsharebuttonbox{
	float:left;
}
.section h2{
	font-size:30px;
	margin:55px auto;
	text-align:center;
}
.section .inst{
	height:20px;
	font-size:16px;
	margin:10 auto;
}
.section .inst ul{
	width:1100px;
	height:20px;
	margin:0 auto;
	text-align:right
}
section .inst ul li{
	display:block;
	height:20px;
	position: relative;
}

section .inst .second{
	margin:0 40px;
}
.section .inst img{
	width:16px;
	height:16px;
}
hr{
	display:block;
	border-bottom:none;
	background-color:lightgray;
	height:1px;
	width:1100px;
	margin:10px auto;
}
.content{
	width:1100px;
	min-height:500px;
	margin:0 auto;	
}
.content p,.content img{
	display:block;
	margin:0 auto;
}
.content p{
	margin: 15px 0;
    text-indent: 2em;
}
.upAndDown{
	height:206px;
	margin:0 auto;
	overflow: hidden;
}
.upAndDown p,.upAndDown p a{
	font-size:16px;
	font-family:"微软雅黑";
	color:#D34231;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height:46px;
	line-height:46px;
}
.upAndDown p{
	margin-top:80px;
	margin-bottom:80px;
}
.upAndDown .left{
	float:left;
	padding-left:20px;
}
.upAndDown .right{
	float:right;
	padding-right:20px;
}

