.section img.top-banner{
	height:182px;
	max-height: 182px;
	margin-top: -15px;
}
.section .main{min-height:500px;}
.section .navigation{
	width:280px;
	float:left;
}
.section .navigation ul{
	float:left;
	margin:0 auto;
	width:280px;
}
.section .navigation li{
	background:url(../img/abouSchool/nav_list.png) no-repeat center;
}

.section .navigation li,.section .navigation li a{
	display: block;
	font-size:16px;
	font-weight: bold;
	text-align:center;
	margin:8px auto;
	border-radius: 5px;
	width:254px;
	height:37px;
	line-height:37px;
	cursor: pointer;
	color:#333;
}
.section .navigation .news{
	font-size:20px;
	font-weight:bold;
	color:white;
	background-color:#D34231;
	display:block;
	width:254px;
	height:37px;
	margin-top:13px;
}
.section .navigation .UnitedFront{
	color:#D34231;
}
.section .navigation .instruction{
	color:red;
}


.section  .content{
	width:890px;
	float:left;
}
.section  .content .caption{
	width:890px;
	float:left;
}
.section  .content h2{
	font-size:23px;
	color:#D34231;
	float:left;
	margin:23px;
}
.section  .content p.crumbs,.section  .content p.crumbs a{font-size:14px;font-weight:bold;color:#D34231;}
.section  .content p.crumbs{
	float:right;
	margin:36px 23px;
}
.section  .content ._hr{
	width:890px;
	height:3px;
	float:left;
	margin-top:-30px;
	margin-left:15px;
}
.section  .content hr{
	color:lightgray;
	background-color:lightgray;
	height:3px;
	border:0;
}
.section  .content .first{
	width:100px;
	background-color:#D34231;
	float:left;
}
.section  .content .second{
	width:775px;
	float:left;
}
.section  .content .text{
	width:890px;
	position: relative;
	float:left;
}
.section  .content .text .newsList{
	width:860px;
	float:left;
	margin-left:30px;
}

.newsList img{width:860px;}

.newsList .article-item,.newsList .article-item a,.newsList .file-item,.newsList .file-item a{
	font-size:16px;
	margin-bottom:25px;
	padding-left:20px;
	color:#333;
	font-weight:600; 
	height:18px;
	line-height:18px;
	width:800px;
	box-sizing:border-box;
}
.newsList .article-item,.newsList .file-item{
	background:url(../img/news/list.png) no-repeat;
}
.newsList .video-item ,.newsList .video-item a,.newsList .image-item{
	width: 267px;
    height: 170px;
    float: left;
    margin-right: 16.6px;
    position: relative;
    overflow: hidden;
    display: block;
	margin-bottom: 50px;
}
.newsList .video-item a img ,.newsList .image-item a img{
    width: 267px;
    height: 170px;
	border-radius:2px;
}
.video-item a p{
	position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    background: #333333;
    opacity: 0.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.video-item .video-btn {
	display:none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 52px;
    width: 52px;
    margin-top: -26px;
    margin-left: -26px;
    background: url(../img/index/video-btn.png) center no-repeat;
}
.newsList .video-item:hover .video-btn,.newsList .video-item a:hover .video-btn{
	display:block;
}
/*图片列表*/
.newsList .image-item{height:200px}
.newsList .image-item a p {text-align: center;color: #333;}
/*人物介绍列表*/
.newsList .personage-item{margin-bottom:25px;}
.newsList .personage-item hr{margin:15px 0px;}
.newsList .personage-item h4{font-size:23px;}
.newsList .personage-item p{font-size:16px;line-height: 25px;}
.newsList .personage-item img{
	float: left;
    width: 199px;
    height: 279px;
    margin-right: 25px;
}
/*我要报名*/
..newsList .gradeclass-item{}
.gradeclass-item .bms{height:25px;line-height:25px;background:#FFF4F4;padding-left:5px;}
.gradeclass-item .bms a{font-weight:bold;color:#333}
.gradeclass-item .bms a:hover{color:#FF6600;}
.gradeclass-item .bms p{float:right;margin-right:3px;}
.gradeclass-item .bmx {
    text-align: left;
    padding-left: 20px;
    width: 860px;
    height: auto;
    line-height: 26px;
    border-bottom: #d6d6d6 1px solid;
    overflow: hidden;
	box-sizing: border-box;
}
.gradeclass-item .bmx b{color:#FF6600;}

.page{
	float:left;
	margin:85px 140px;
}
.page ul{
	margin:0 auto;
}
.page ul li,.page a,.page span{
	display:block;
	width:40px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:10px;
	color:#D34231;
	font-weight:bold;
}
.page ul li, .page a, .page span{
	float:left;
	border:1px solid #D34231;
	margin:0 8px;
	border-radius:5px;
}
.page .current.prev, .page .current.next {
    color: #333;
    border-color: #D34231;
	background-color:#D34231;
    background: #fff;
}
.page .current {
    background-color:#D34231;
    color: #fff;
    border: 1px solid #D34231;
}
