@charset "utf-8";   

.page{
	/* float:left;
	margin:85px 140px; */
	overflow: hidden;
    margin: 20px auto;
}
#Pagination{overflow: hidden;margin-left:350px;}
.page ul{
	margin:0 auto;
}
.page ul li,.page a,.page span{
	display:block;
	width:40px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:10px;
	color:#D34231;
	font-weight:bold;
}
.page ul li, .page a, .page span{
	float:left;
	border:1px solid #D34231;
	margin:0 8px;
	border-radius:5px;
}
.page .current.prev, .page .current.next {
    color: #333;
    border-color: #D34231;
	background-color:#D34231;
    background: #fff;
}
.page .current {
    background-color:#D34231;
    color: #fff;
    border: 1px solid #D34231;
}
