[v-cloak] { display: none;}

.rightAnswer--label{/*margin:20px 20px 0 0;*/display:inline-block}
.rightAnswer--radio{display:none}
.rightAnswer--radioInput{background-color:#fff;border:1px solid rgba(0,0,0,0.15);border-radius:100%;display:inline-block;height:16px;margin-right:10px;margin-top:-1px;vertical-align:middle;width:16px;line-height:1}
.rightAnswer--radio:checked + .rightAnswer--radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
.rightAnswer--checkbox.rightAnswer--radioInput,.rightAnswer--radio:checked + .rightAnswer--checkbox.rightAnswer--radioInput:after{border-radius:0}

.content{overflow: hidden;}
.left{float:left;}
.quest-paper{width:898px;border: 1px solid #c1e881;margin-top:20px}
.quest-title,.quest-mark{text-align:center;}
.quest-title{margin:15px 0px;font-size:20px}
.quest-mark{margin-bottom:20px;}
.quest-list{border-bottom:0px;max-height: 800px;overflow: hidden;overflow-y: scroll;}
.quest-item{
	border-top: 1px solid #c1e881;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fbfff1;
    zoom: 1;
    overflow: hidden;
}
.quest-count{
	width: 90px!important;
    text-align: center;
    margin-top: 10px;
}
.quest-count i{color:red;}
.quest-txt{
	border-left: 1px solid #c1e881;
    min-height: 89px;
    padding:15px;
}

.btn-answer{color:#fff;display: block;margin: 0 auto;margin-top: 30px;}
.btn-answer-start{background:#73ddea;}
.btn-answer-submit{background:#ef0c3f}
.btn-answer-start:focus,.btn-answer-start:active{background:#1d909e;color:#fff;}
.btn-answer-submit:focus,.btn-answer-submit:active{background:#c10e37;color:#fff;}
.quest-answer{
	margin-left:10px;
	width:260px;
}
.quest-answer p{text-align:center;margin-top:20px}
.answer_time{color:red;}

.tipinfo img.wenhao{float: left;margin: 0px 20px;width:90px;height:100px}
.tipinfo p.query-submit{height:100px;line-height:100px}