*{margin: 0;padding: 0;font-size: 14px;font-family: "微软雅黑";}
body{
    background: -moz-linear-gradient(top, #d2d1d7 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2d1d7), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #d2d1d7 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #d2d1d7 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #d2d1d7 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #d2d1d7 0%,#ffffff 100%);
}
a{text-decoration: none;}
ul{list-style: none;}
address, cite, dfn, em, var, i {font-style: normal;}
.btn,.btn:focus,.btn:active{padding:5px 10px;border:0px;border-radius: 2px;background:#f3f3f3;outline: none;}

input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-transition-delay: 99999s;
        -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
    }

/*头部*/
.header{height: 288px;width: 100%;min-width: 1200px;max-width: 2000px;margin: 0 auto;background: url(../img/index/top_bg.jpg) no-repeat center !important; background-size: 2000px 288px;}
/*头部搜索框*/
.header form{display:inline-block;}
.header .full-text-search {width: 1200px;margin: 0 auto;box-sizing: border-box;padding-top: 10px;padding-right: 15px;color: red;text-align: right;}
.full-text-search .search-form-sp,.full-text-search .search-btn-sp,.full-text-search input{-moz-box-sizing: border-box;  /*Firefox3.5+*/-webkit-box-sizing: border-box; /*Safari3.2+*/-o-box-sizing: border-box; /*Opera9.6*/-ms-box-sizing: border-box; /*IE8*/box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/}
.header .full-text-search .search-form-sp{display: inline-block;width: 200px;height: 25px;border: 1px solid red;}
.full-text-search input,.full-text-search input:focus,.full-text-search input:active{background-color: transparent;border: 0px;width: 200px;height: 25px;outline:none;padding-left: 2px;}
.full-text-search .search-btn-sp{width: 40px;}
.full-text-search .search-btn-sp button{outline: none;background-color: red;border: 0;height: 25px;line-height: 25px;padding-top: 1px;margin-left: -4px;color: #fff;}
.header .full-text-search a{text-decoration: none;color: red;font-weight: bold;margin-left: 5px;}

/*头部右侧轮播图*/
.header .header-crousel{width: 1200px;margin: 0 auto;box-sizing: border-box;height: 200px;margin-top: -10px;text-align: right;position: relative;}
.header .header-crousel .crousel-parent{width: 447px;height: 200px;overflow: hidden;float: right;}
.header .header-crousel .crousel img{background-clip: padding-box;display: block;float: left;}
.header .header-crousel .crousel{
	width:1341px;
    height:200px;
    -webkit-animation:change 10s linear infinite; //10s是整个动画的秒数 infinite是永久循环
}
@-webkit-keyframes change{
    0%{
        margin-left:0;
    }
    30%{
        margin-left:0; 
    }
    /*总共用10秒，0%到30% 也是3.333秒第一张图片停留位置后面以此类推*/
    33%{
        margin-left:-447px;
    }
    63%{
        margin-left:-447px;
    }
    66%{
        margin-left:-894px;
    }
    97%{
        margin-left:-894px;
    }
    100%{
        margin-left:-1341px;
    }
}
/*头部LOGO*/
.header .header-crousel .logo{float: left;height: 200px;position: relative;}
.header .header-crousel .logo img{display: block;position: absolute;width: 140px;height: 140px;top: 50%;margin-top: -70px;}
.header .header-crousel .logo .logo-title{position: absolute;width: 431px;top: 50%;height: 140px;margin-top: -70px;text-align: left;padding: 20px;left: 140px;}
.header .header-crousel .logo .logo-title h3{font-size: 35px;color: red;text-shadow: 2px 3px 10px #fff, 2px -2px 2px #fff;font-family:"微软雅黑";}
/*首页导航*/
.header .nav{width:100%;height: 60px;line-height: 44px;min-width: 1200px;max-width: 2000px;margin: 0 auto;background: url(../img/index/nav_bg.png) center no-repeat !important;background-size: 2000px 60px;}
.header .nav ul {width: 1200px;margin: 0 auto;position: relative;box-sizing: border-box;}
.header .nav li{position: relative;float: left;display: inline-block;width: 100px;text-align: center;}
.header .nav li a{display: inline-block;width: 100px;font-size: 16px;font-weight: bold;color: #fff;text-align: center;}
.header .nav li a:first-child{text-align: left;padding-left: 10px;}
.header .nav li:hover .nav-item,.header .nav li .nav-item{display: block;}
.header .nav li .nav-item{position: absolute;width: 100px;height: auto;background: #d34231;z-index: 10;opacity: 0.8;display: none;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;word-wrap: break-word;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.header .nav li .nav-item li{height: 35px;line-height: 35px;}
.header .nav li .nav-item li a{font-size: 14px;    word-wrap: break-word;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;box-sizing: border-box;}
.header .nav li .nav-item li:hover a,.header .nav li a.active{color: #fac747;}
/*内容区域*/
section{width: 1200px;height:auto;margin: 0 auto;padding: 15px;box-sizing: border-box;    padding-bottom: 80px;background:#fff;}
ul.articlelist{padding: 20px 10px;}
.articlelist li{position: relative;margin-bottom: 10px;display: inline-block;width: 100%;text-indent: 44px;text-decoration: none;color: #333333;word-wrap: break-word;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;background: url(../img/index/icon.jpg) no-repeat;background-size: 14px 14px;background-position: 10px 3px;}
.articlelist li a{text-decoration: none;color: #333333;}
.articlelist li a:hover{color: #fac747;}
/*轮播导航  公告通知*/
.section-1,.section-2,.section-3,.section-4,.section-5{position: relative;width: 100%;margin: 0 auto;clear: both;overflow: hidden;}
.section-1{height: 367px;}

#banner { float: left;position: relative; height: 367px;width: 778px; border: 0px solid #666; overflow: hidden; }
#banner_list img { border: 0px; width: 778px;height: 367px;}
#banner_bg { position: absolute; bottom: 0; background-color: #000; height: 30px; filter: Alpha(Opacity=30); opacity: 0.3; z-index: 1000; cursor: pointer; width:  778px; }
#banner_info { position: absolute; bottom: 3px; left: 5px; height: 22px; color: #fff; z-index: 1001; cursor: pointer }
#banner_text { position: absolute; width: 120px; z-index: 1002; right: 3px; bottom: 3px; }
#banner ul { position: absolute; list-style-type: none; filter: Alpha(Opacity=80); opacity: 0.8; z-index: 1002; margin: 0; padding: 0; bottom: 8px; right: 5px; }
#banner ul li { padding: 0px; float: left; display: block; color: #FFF; background: #FFFFFF; cursor: pointer; border: 0px; width: 15px;height: 15px;border-radius:15px ;margin-right: 15px;}
#banner ul li.on { background-color: red; }
#banner_list a { position: absolute; }


.section-1 .notice-box,.section-2 .btn-box{float: right;width: 379px;}
.section-1 .notice-box{height: 367px;background: url(../img/index/ggtz_bg.png) center no-repeat !important; }
.notice-box-title,div.title{height: 46px;line-height: 53px;text-indent: 40px;position: relative;}
.notice-box h4,.news-box h4{font-size: 16px;cursor: pointer;}
.notice-box-title h4{color:#fff;}
.notice-box .notice-box-title a,.news-box .title a,.section-3 .title a,.section-4 .title a,.video-banner a{position: absolute;top:0;right: 15px;color: #333;font-weight: 600;}
/*统战新闻  按钮*/
.section-2{height: 293px;margin-top: 30px;}
.section-2 .news-box{width: 778px;height: 293px;float: left;background: url(../img/index/news_bg.png) center no-repeat !important;}
.section-2 .btn-box{height: 293px;}
.section-2 .title,.section-3 .title,.section-4 .title{text-indent: 0px;}
.section-2 h4,.section-3 h4,.section-4 h4{width: 135px;height: 35px;line-height: 35px;float: left;margin-top: 12px;text-align: center;margin-left: 15px;cursor: pointer;}
.news-selected{background: url(../img/index/list_selected.png) center no-repeat !important;color: #fff;font-size: 16px;}
.news-unselected{background: url(../img/index/list_unselected.png) center no-repeat!important;color: #9f2c2b;font-size: 16px;}
.section-2 .btn-box a{display: inline-block;height: 91px;width: 183px;margin-right: 4px;margin-bottom: 4px;}
.section-2 .btn-box a.btn-img-itme1{background: url(../img/index/001.png)center no-repeat !important;}
.section-2 .btn-box a.btn-img-itme2{background: url(../img/index/002.png)center no-repeat !important;}
.section-2 .btn-box a.btn-img-itme3{background: url(../img/index/003.png)center no-repeat !important;}
.section-2 .btn-box a.btn-img-itme4{background: url(../img/index/004.png)center no-repeat !important;}
.section-2 .btn-box a.btn-img-itme5{background: url(../img/index/005.png)center no-repeat !important;}
.section-2 .btn-box a.btn-img-itme6{background: url(../img/index/006.png)center no-repeat !important;}
/*首页banner*/
.main-banner{width: 1200px;max-height: 100px;display: block;margin: 0 auto;margin-top: 25px;margin-left: -15px;margin-right: -15px;}
/*文化交流  党群建设  教学培训  学员天地等*/
.section-3,.section-4{height: 293px;margin-top: 25px;}
.section-3 .news-box1,.section-3 .news-box2,.section-3 .news-box3,.section-4 .news-box1{float: left;height: 293px;width: 381px;background: url(../img/index/select.png)center no-repeat !important;}
.section-3 .news-box1,.section-3 .news-box2,.section-4 .news-box1{margin-right: 13px;}
.section-3 h4,.section-4 h4{margin-top: 8px;}
/*市州社院  教育基地*/
.section-4 .news-box1{float: left;height: 293px;position: relative;}
.section-4 .edu-box{width: 776px;height: 293px;float: right;}
.edu-list,.edu-list li{position: relative;}
.edu-list li{width: 250px;height: 148px;float: left;margin-right: 13px;}
.edu-list li:last-child{margin-right: 0px;}
.edu-list li img{width: 250px;height: 148px;}
.edu-list li p{text-align: center;font-size: 16px;font-weight: bold;color: #000000;}
/*视讯部分*/
.video-banner{background: url(../img/index/video_bg.jpg) center no-repeat;background-size: 1200px 150px ;height: 150px;margin-top: 30px;position: relative;}
.video-banner a{left:430px;top:112px;color: #FFFFFF;}
.video-list-box{margin-top: 25px;overflow: hidden;position: relative;}
.video-list-box .video-item,.video-list-box .video-item a{width: 280px;height: 185px;float: left;margin-right: 16.6px;position: relative;overflow: hidden;display: block;}
.video-list-box .video-item:last-child{margin-right: 0px;}
.video-list-box .video-item a img{width: 280px;height: 185px;}
.video-list-box .video-item a p{position: absolute;left:0px;right:0px;bottom: 0px;text-align: center;color: #FFFFFF;height: 30px;line-height: 30px;background: #333333;opacity: 0.6;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.video-list-box .video-item .video-btn{position: absolute;left: 50%;top: 50%;height: 52px;width: 52px;margin-top: -26px;margin-left: -26px;background: url(../img/index/video-btn.png) center no-repeat;}

/*友情链接*/
.friendship-box{margin-top: 50px;}
.friendship-box .tab a.tab-title{display: inline-block;margin: 0px 30px 15px 50px;color: #333333;}
.friendship-box .tab a.active,.friendship-box .tab a:hover{color: red;}
.friendship-box .link-list{display: none;border-top: 2px solid #f66060;padding-top: 10px;}

.friendship-box .link-list ul {padding: 0px 0px;display: block;position: relative;overflow: hidden;}
.friendship-box .link-list li a{display: block;padding: 10px 15px 10px 5px;float: left;margin-right: 50px;color: #333333;}
/*footer*/
.footer{width: 1200px;margin: 0 auto;height: 230px;background: url(../img/index/footer_bg.jpg) center no-repeat;background-size:1200px 230px;position: relative;}
.footer p{text-align: center;color: #333;font-weight: 600;padding: 10px 0px;}


